<nav>
    <ul [(activeId)]="linkId" #nav="ngbNav" ngbNav class="nav-tabs">
        <li ngbDropdown [ngbNavItem]="link.linkId" *ngFor="let link of links" class="nav-item">
            <a href (click)="false" class="nav-link" ngbDropdownToggle>{{ link.title }}</a>
            <div ngbDropdownMenu>
                <button ngbDropdownItem routerLink="{{ section.module }}" *ngFor="let section of link.sections">{{ section.title }}</button>                
            </div>
        </li>        
    </ul>
</nav>